
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}WikiStack{% endblock %}</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet"/>
    <link href='/stylesheets/style.css' rel='stylesheet'/>
  </head>
  <body>
  	<div class='main'>
  	<div class='header'><div id='homeBut' class='nav' onclick = "window.location.assign('/')" title='Go to Home Page'>WIKISTACK</div>&nbsp;<div id='addPage' class='nav' onclick = "window.location.assign('/add')" title='Contribute to the Wiki'>ADD PAGE</div></div>

   {% block content %}{% endblock %}
</div>
  </body>
</html>